@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import "theme/font-education";

@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);



@import "~bootstrap/dist/css/bootstrap.css";
@import "~swiper/css/swiper.css";
@import "~lity/dist/lity.css";
@import "~bootstrap-select/dist/css/bootstrap-select.css";

@import "theme/style.default";

.navbar-brand {
  .logo {
    max-height: 75px;
  }
}

div.logo {
  > img {
    max-height: 250px;
  }
}

.navbar.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.markdown {
  img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  h1, h2, h3, h4, h5, h6, h7 {
    margin-top: 3rem;
  }

  ul {
    @extend .checked;
    margin-bottom: 1.5rem;
    padding-left: 0;
    list-style: none;
  }
  blockquote {
    @extend .blockquote;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    p {
      margin-bottom: 0;
      &:last-child:not(:first-child) {
        @extend .author;
      }
    }
  }
}

.course-details .course-information {
  width: 100%;
}
